{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="page__connexion">
    <div class="img__block confirm">
        {% include "front/components/logo.html.twig" %}
        <div class="message">
            Un e-mail vous a été envoyé, merci de confirmer votre inscription
            <a class="btn connexion--btn" href="{{ path('app_login') }}">
                Connexion
            </a>
        </div>
        <div class="img">
            <img src="{{ asset('/build/signup.jpg') }}" alt="signup" id="signup"/>
        </div>
    </div>
    </div>
{% endblock %}
