{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="page__connexion">
        <div class="img__block{% if app.flashes.confirm is defined %} confirm{% endif %}">
            {% include "front/components/logo.html.twig" %}
            <div class="message">
                Merci d'avoir validé votre e-mail, vous pouvez maintenant vous connecter
                <button class="btn connexion--btn">
                    Connexion
                </button>
            </div>
            <div class="img">
                <img src="{{ asset('/build/signup.jpg') }}" alt="signup" id="signup" class="hide"/>
                <img src="{{ asset('/build/signin.jpg') }}" alt="signup" id="signin"/>
            </div>
        </div>
        <div class="singup__block">

            <div class="signup__header" id="switch--to--signin">
                S'inscrire
                <span> ou <span> se connecter </span> </span>
            </div>
            <div class="signup__body">
                <form method="POST" action="{{ path("front_register") }}">
                    {{ form_start(registrationForm) }}
                        {{ form_row(registrationForm.nom) }}
                        {{ form_row(registrationForm.prenom) }}
                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.plainPassword) }}
                        {{ form_row(registrationForm.sexe) }}
                        {{ form_row(registrationForm.dateNaissance) }}
                        {{ form_row(registrationForm.roles) }}
                        {{ form_row(registrationForm.telephone) }}
                        {{ form_row(registrationForm.adresse) }}
                        {{ form_row(registrationForm.agreeTerms) }}
                        <div>
                            <button class="btn">S'inscrire</button>
                        </div>
                        {{ form_rest(registrationForm) }}
                    {{ form_end(registrationForm) }}
                </form>
            </div>
        </div>
        <div class="signin__block">
            <div class="signin__header" id="switch--to--signup">
                Se connecter
                <span> ou <span> s'inscrire </span> </span>
            </div>

            <div class="signin__body">
                <form method="post">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                    {# <label>
                        <input type="checkbox" name="_remember_me">
                        <span>Se souvenir de moi</span>
                    </label> #}
                    <div class="forget_psw">
                        <p><a href="{{ url('forgotten_password') }}">Mot de passe oublié ?</a></p>
                    </div>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <button class="btn btn-lg btn-primary" type="submit">
                        Connexion
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('connexion') }}
{% endblock %}