
<div class="back__panel__block">
    <a class="waves-effect panel--item" href="#">
        <i class="fas fa-th"></i>
        <span>Accueil</span>
    </a>
    <a class="waves-effect panel--item {% if app.request.get('_route') matches '/back_user/' %} active {% endif %}" href="{{ path('back_user_index') }}">
        <i class="fas fa-user-friends"></i>
        <span>Utilisateurs</span>
    </a>
    <a class="waves-effect panel--item {% if app.request.get('_route') matches '/back_matiere/' %} active {% endif %}" href="{{ path('back_matiere_index') }}">
        <i class="fas fa-book"></i>
        <span>Matières</span>
    </a>
    <a class="waves-effect panel--item {% if app.request.get('_route') matches '/back_niveau/' %} active {% endif %}" href="{{ path('back_niveau_index') }}">
        <i class="fas fa-layer-group"></i>
        <span>Niveaux</span>
    </a>
    <a class="waves-effect panel--item {% if app.request.get('_route') matches '/back_demande/' %} active {% endif %}" href="{{ path('back_demande_index') }}">
        <i class="fas fa-certificate"></i>
        <span>Demandes</span>
    </a>
    <a class="waves-effect panel--item" href="{{ path("front_default_index") }}">
        <i class="fas fa-bars"></i>
        <span>Voir le front</span>
    </a>
</div>
<div class="back__header__block">
    <div class="logo--icon">
        {% include "front/components/logo.html.twig" %}
    </div>
</div>