{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>#}
{% endblock %}

{% block body %}
    {{ form_start(forgottenPassword) }}
    <div class="row" style="margin: 5% 0% 0% 5%">
        <div class="col s12 m6">
            <div class="row">
                <div class="input-field col s12">
                    {{ form_row(forgottenPassword.email) }}
                </div>
            </div>

        </div>
        <div class="row" >
            <button class="btn btn-lg btn-primary" type="submit"> SEND </button>
        </div>
    </div>
    {{ form_rest(forgottenPassword) }}
    {{ form_end(forgottenPassword) }}
{% endblock %}

