{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block stylesheets %}
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">#}
{% endblock %}
{% block body %}
    {{ form_start(registrationForm) }}
    <div class="row">
        <h1>Inscription</h1>
        <form class="col s12" method="post">
            <div class="row">
                <div class="input-field col s6">
                    {{ form_row(registrationForm.nom) }}
                </div>
                <div class="input-field col s6">
                    {{ form_row(registrationForm.prenom) }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form_row(registrationForm.email) }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form_row(registrationForm.plainPassword) }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form_row(registrationForm.sexe) }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form_row(registrationForm.dateNaissance) }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form_row(registrationForm.roles) }}
                </div>
                <div class="input-field col s12">
                    {{ form_row(registrationForm.telephone) }}
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form_row(registrationForm.adresse) }}
                </div>
            </div>
            <div class="row">
                {{ form_row(registrationForm.agreeTerms) }}
            </div>
            <div class="row">
                <button class="btn">S'inscrire</button>
            </div>

            {{ form_rest(registrationForm) }}
        </form>
    </div>

    {{ form_end(registrationForm) }}
{% endblock %}
