{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
{% endblock %}

{% block body %}
    {{ form_start(resetPassword) }}
    <div class="row" style="padding: 2% 10%;border: 5px solid #26a69a;box-sizing: border-box;">
        <h1>Reset Password</h1>
        <form class="col s12" method="post">
            <div class="row">
                <div class="input-field col s12">
                    {{ form_row(resetPassword.plainPassword) }}
                </div>
            </div>

            <div class="row">
                <button class="btn btn-lg btn-primary" type="submit"> RESET </button>
            </div>
            {{ form_rest(resetPassword) }}
        </form>
    </div>
    {{ form_end(resetPassword) }}
{% endblock %}
