{% extends 'front.html.twig' %}

{% block title %} Ajouter une matiere {% endblock %}

{% block body %}
    <div class="matiere__page">
        <div class="matiere__add">
            <div class="matiere__header">
                Ajouter une matière
            </div>
            {{ form_start(form) }}
                {{ form_row(form.matiere) }}
                <button class="btn">{{ button_label|default('Save') }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}