.back__office {
    margin-left: 100px;
    h1:first-of-type {
        display: none;
    }
    .table {
        max-width: calc(100vw - 140px);
        overflow: auto;
        border-radius: 10px;
        box-shadow: $BoxShadow;
        width: inherit;
        margin: 80px 20px 20px 20px;
        border-spacing: 1px;
        background: $White;
        th {
            min-width: 60px;
            text-align: center;
            white-space: nowrap;
            padding-left: 10px;
            padding-right: 10px;
        }
        tbody {
            tr {
                background: #fff !important;
                border-top: 1px solid $LightGrey;
                transition: .3s ease;
                &:hover {
                    background: $VeryLightGrey !important;
                }
                td {
                    white-space: nowrap;
                    padding-left: 15px;
                    padding-right: 15px;
                    max-width: 250px;
                    overflow: auto;
                    &:last-child {
                        position: relative;
                        min-width: 110px;
                        a, form button {
                            color: #00000000;
                            background: #00000000;
                            position: absolute;
                            top: 13px;
                            transition: .3s ease;
                            &:hover {
                                transform: translateY(-3px);
                            }
                            &:before {
                                font-family: 'Font Awesome 5 Free';
                                font-weight: 900;
                                font-style: normal;
                                text-decoration: inherit;
                                color: $PrimaryColor;
                                font-size: 20px;
                                padding-right: 0.5em;
                            }
                        }
                        a:nth-child(1) {
                            left: 0;
                            &:before {
                                content: "\f06e";
                            }
                        }
                        a:nth-child(2) {
                            left: 40px;
                            &:before {
                                content: "\f044";
                            }
                        }
                        form button {
                            border: none;
                            box-shadow: none;
                            left: 80px;
                            top: 10px;
                            padding: 0;
                            margin: 0;
                            &:before {
                                content: "\f1f8";
                            }
                        }
                    }
                }
            }
        }
    }
    &>form {
        width: 300px;
        overflow: auto;
        border-radius: 10px;
        box-shadow: $BoxShadow;
        margin: 80px auto 20px auto;
        border-spacing: 1px;
        background: $White;
        div div  {
            flex-direction: column;
            display: flex;
            label, input, textarea {
                display: block;
                margin: auto !important;
                width: 200px !important;
            }
            textarea {
                min-height: 100px;
            }
            label {
                margin-top: 10px !important;
                margin-bottom: 0 !important;
                width: max-content !important;
            }
        }
        &>button:last-child {
            margin-top: 20px;
            width: 100%;
        }
    }
    .btn {
        background: $PrimaryColor;
    }
    >a {
        &:last-child {
            color: $Black;
            position: fixed;
            z-index: 95;
            top: 15px;
            left: 275px;
            transition: .3s ease;
            font-size: 18px;

            &:hover {
                transform: translateX(5px);
            }

            &:before {
                content: '\f055';
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                font-style: normal;
                text-decoration: inherit;
                color: $PrimaryColor;
                font-size: 20px;
                padding-right: 0.5em;
                margin-top: 2px;
            }
        }
    }
}