.back__panel__block {
    position: fixed;
    display: flex;
    z-index: 100;
    flex-direction: column;
    height: 100vh;
    width: 100px;
    top: 0;
    left: 0;
    background: $PrimaryColor;
    .panel--item {
        position: relative;
        display: flex;
        color: $White;
        overflow: initial;
        transition: 0.5s ease;
        padding-top: 10px;
        padding-bottom: 30px;
        margin-bottom: 5px;

        &:first-child {
            margin-top: 10px;
        }

        &:last-child {
            margin-top: auto;
            margin-bottom: 10px;
        }

        &.active {
            background: #00000015;
            position: absolute;
            top: 7px;
            left: 120px;
            right: 0;
            color: $PrimaryColor;
            span, a {
                color: $PrimaryColor;
                bottom: 26px;
                top: 7px;
                left: 40px;
                height: max-content;
                font-size: 20px;
            }
        }

        i {
            font-size: 26px;
            margin: auto;
        }

        span, a {
            color: $White;
            opacity: 1;
            position: absolute;
            bottom: 5px;
            left: 0;
            right: 0;
            margin: auto;
            width: max-content;
            font-size: 14px;
            transition: 0.5s ease;
        }
    }
}
.back__header__block {
    position: fixed;
    z-index: 90;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    background: $White;
    box-shadow: $BoxShadow;
    .logo--icon {
        position: absolute;
        right: 10px;
        height: 60px;
        transition: ease 0.5s;
        svg  {
            height: 60px;
            g {
                &:first-child {
                    path {
                        fill: $PrimaryColor;
                    }
                }
                &:last-child {
                    path {
                        fill: $Black;
                    }
                }
            }
        }
    }
}