{% extends 'back.html.twig' %}

{% block title %}Edit Niveau{% endblock %}

{% block body %}
    <h1>Edit Niveau</h1>

    {{ include('back/niveau/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('back_niveau_index') }}">back to list</a>

    {{ include('back/niveau/_delete_form.html.twig') }}
{% endblock %}
