{% extends 'back.html.twig' %}

{% block title %}Niveau index{% endblock %}

{% block body %}
    <h1>Niveau index</h1>

    {% embed 'embed/_table.html.twig' %}
        {% block head %}
            <tr>
                <th>Slug</th>
                <th>libelle</th>
            </tr>
        {% endblock %}
        {% block body %}
            {% for niveau in niveaux %}
                <tr>
                    <td>{{ niveau.slug }}</td>
                    <td>{{ niveau.libelle|capitalize }}</td>
                    <td>
                        <a href="{{ path('back_niveau_show', {'slug': niveau.slug}) }}">show</a>
                        <a href="{{ path('back_niveau_edit', {'slug': niveau.slug}) }}">edit</a>
                        {% include 'back/niveau/_delete_form.html.twig' %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}

    <a href="{{ path('back_niveau_new') }}">Create new</a>
{% endblock %}
