{% extends 'back.html.twig' %}

{% block title %}New Niveau{% endblock %}

{% block body %}
    <h1>Create new Niveau</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">Créer</button>
    {{ form_end(form) }}
{% endblock %}
