{% extends 'back.html.twig' %}

{% block title %}Niveau{% endblock %}

{% block breadcrumb %}
    <a href="#!" class="breadcrumb">Show Niveau</a>
{% endblock %}

{% block body %}
    <h1>Niveau</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Slug</th>
            <td>{{ niveau.slug }}</td>
        </tr>
        <tr>
            <th>Libelle</th>
            <td>{{ niveau.libelle }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('back_niveau_index') }}">back to list</a>

    <a href="{{ path('back_niveau_edit', {'slug': niveau.slug}) }}">edit</a>
{% endblock %}
