@font-face {
    font-family: "Roboto Light";
    src: url("../../fonts/Roboto-Light.ttf");
}
@font-face {
    font-family: "Exo2-bold";
    src: url("../../fonts/Exo2-Bold.otf");
}
@font-face {
    font-family: "Exo2-light";
    src: url("../../fonts/Exo2-Light.otf");
}
@font-face {
    font-family: "Exo2-medium";
    src: url("../../fonts/Exo2-Medium.otf");
}
@font-face {
    font-family: "Exo2-regular";
    src: url("../../fonts/Exo2-Regular.otf");
}

$RobotoLight: "Roboto Light";