// Test
$PrimaryColor: #EB4D4B;
$DarkGrey: #555;
$LightGrey: #CCC;
$VeryLightGrey: #eee;
$White: #fff;
$Black: #000;
$Green: #2ecc71;
$Orange: #e67e22;
$BoxShadow: 0px 3px 10px 0px rgba(0,0,0,0.15);
$BoxShadowBtn: 0px 3px 10px 0px #563F3F50;
$Border: 1px solid $LightGrey;

