{% extends 'front.html.twig' %}

{% block title %}Enseignant index{% endblock %}

{% block body %}
    <div class="chat__page">
        <div class="chat__block">
            <div class="chat__header">
                <img src="https://cdn.discordapp.com/attachments/556582916227072015/669473798562643978/man-wearing-black-cap-with-eyes-closed-under-cloudy-sky-810775.jpg" alt="profil-picture"/>
                <div class="matiere">
                    {{ receiver.prenom }} {{ receiver.nom }}
                </div>
                <div class="nbr--msg">
                    {{ messages|length }} messages
                </div>
            </div>
            <div class="chat__body">
                <div class="msg {% if(demande.eleve.slug == transmitter.slug) %}
                                msg--me
                            {% else %}
                                msg--other
                            {% endif %}">
                    <div class="msg--header">
                        <span>{{ demande.commentaire }}</span>
                    </div>
                    <div class="msg--footer">
                        <span> {{ date_demande ? date_demande|date('d-m-Y h:m:s') : ''}} </span>
                    </div>
                </div>
                {% if(messages != null) %}
                    {% for message in messages %}
                        <div class="msg
                            {% if(message.transmitter.slug == transmitter.slug) %}
                                msg--me
                            {% else %}
                                msg--other
                            {% endif %}
                             ">
                            <div class="msg--header">
                                <span>{{ message.content }}</span>
                            </div>
                            <div class="msg--footer">
                                <span> {{ message.date ? message.date|date('d-m-Y h:m:s') : ''}} </span>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="chat__footer">
                {# <form method="post" action="{{ path('front_chat_new', { "demande_id" : demande.id, "transmitter_id":  transmitter.id, "receiver_id": receiver.id })  }}">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <i class="far fa-file btn--file"></i>
                    <a href="#"><button type="submit"><i class="fas fa-paper-plane btn--send"></i></button></a>
                    {{ form_end(form) }}
                </form> #}
                <textarea id="message_content" name="content" required="required"></textarea>
                <i class="far fa-file btn--file"></i>
                <button id="submitChat"><i class="fas fa-paper-plane btn--send"></i></button>
                <input type="hidden" id="demandeId" value="{{ demande.id }}"/>
                <input type="hidden" id="transmitterId" value="{{ transmitter.id }}"/>
                <input type="hidden" id="receiverId" value="{{ receiver.id }}"/>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('chat') }}
{% endblock %}