// Font-awesome
@import "../lib/font-awesome/scss/fontawesome.scss";
@import "../lib/font-awesome/scss/solid.scss";
@import "../lib/font-awesome/scss/regular.scss";
@import "../lib/font-awesome/scss/brands.scss";

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid $PrimaryColor;
    -webkit-box-shadow: 0 1px 0 0 $PrimaryColor;
    box-shadow: 0 1px 0 0 $PrimaryColor;
}

.btn{
    background-color: $PrimaryColor;
}

.btn:hover {
    background-color: $PrimaryColor;
}

.btn:focus  {
    background-color: $PrimaryColor;
}