*{
  margin: 0;
  padding: 0;
}

h1{
  color: $White;
  font-size: 30px;
  font-weight: bold;
}

select{
  display: block !important;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked{
  pointer-events: auto !important;
}