{% extends 'back.html.twig' %}

{% block title %}Edit Demande{% endblock %}

{% block body %}
    <h1>Edit Demande</h1>

    {{ include('back/demande/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('back_demande_index') }}">back to list</a>

    {{ include('back/demande/_delete_form.html.twig') }}
{% endblock %}
