{% extends 'back.html.twig' %}

{% block title %}Demande index{% endblock %}

{% block body %}
    <h1>Demande index</h1>

    {% embed 'embed/_table.html.twig' %}
        {% block head %}
            <tr>
                <th>Slug</th>
                <th>Date_demande</th>
                <th>Commentaire</th>
                <th>Date_cours</th>
                <th>Is_accepted</th>
                <th>Type_demande</th>
                <th>actions</th>
            </tr>
        {% endblock %}
        {% block body %}
            {% for demande in demandes %}
                <tr>
                    <td>{{ demande.slug }}</td>
                    <td>{{ demande.dateDemande ? demande.dateDemande|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ demande.commentaire }}</td>
                    <td>{{ demande.dateCours ? demande.dateCours|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ demande.isAccepted ? 'Yes' : 'No' }}</td>
                    <td>{{ demande.typeDemande }}</td>
                    <td>
                        <a href="{{ path('back_demande_show', {'slug': demande.slug}) }}">show</a>
                        <a href="{{ path('back_demande_edit', {'slug': demande.slug}) }}">edit</a>
                        {% include 'back/demande/_delete_form.html.twig' %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}

    <a href="{{ path('back_demande_new') }}">Create new</a>
{% endblock %}
