{% extends 'back.html.twig' %}

{% block title %}New Demande{% endblock %}

{% block body %}
    <h1>Create new Demande</h1>

    {{ include('back/demande/_form.html.twig') }}

    <a href="{{ path('back_demande_index') }}">back to list</a>
{% endblock %}
