{% extends 'back.html.twig' %}

{% block title %}Demande{% endblock %}

{% block beadcrumb %}
    <a href="#!" class="breadcrumb">Show demande</a>
{% endblock %}

{% block body %}
    <h1>Demande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Slug</th>
                <td>{{ demande.slug }}</td>
            </tr>
            <tr>
                <th>Date_demande</th>
                <td>{{ demande.dateDemande ? demande.dateDemande|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ demande.commentaire }}</td>
            </tr>
            <tr>
                <th>Date_cours</th>
                <td>{{ demande.dateCours ? demande.dateCours|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Is_accepted</th>
                <td>{{ demande.isAccepted ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Type_demande</th>
                <td>{{ demande.typeDemande }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('back_demande_index') }}">back to list</a>

    <a href="{{ path('back_demande_edit', {'slug': demande.slug}) }}">edit</a>

    {{ include('back/demande/_delete_form.html.twig') }}
{% endblock %}


