{% extends 'front.html.twig' %}

{% block title %}Bienvenue sur la partie enseignant {% endblock %}

{% block body %}
    <div class="accueil__page row">
        <div class="other col s12 l7">
            <div class="matiere">
                <div class="header"> Mes matieres :
                    <a class="btn" href="{{ path('front_matiere_index') }}">
                        <i class="fas fa-plus"></i>
                    </a>
                </div>
                <div class="body">
                    {% for matiere in app.user.getMatieres()  %}
                        <p> {{ matiere.libelle }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="demands col s12 l5">
            <div class="header"> Mes derniers messages : </div>
            {% for demande in demandes %}
                <a href="{{ path('front_chat_demande', {'demande_id': demande.id}) }}" class="conversation__block" >
                    <div class="conversation__image">
                        <img src="https://cdn.discordapp.com/attachments/556582916227072015/669473798562643978/man-wearing-black-cap-with-eyes-closed-under-cloudy-sky-810775.jpg" alt="profil-picture"/>
                    </div>
                    <div class="conversation__text">
                        <div class="conversation--header"> <p> <span>
                        {% if user.id == demande.eleve.id and demande.enseignant is defined%}
                            {{ demande.enseignant.prenom }} {{ demande.enseignant.nom }}
                        {% elseif user.id == demande.enseignant.id and demande.eleve is defined%}
                            {{ demande.eleve.prenom }} {{ demande.eleve.nom }}
                        {% endif %}
                         </span>
                        {% if demande.matiere is defined and demande.matiere.niveau is defined %}
                            ({{ demande.matiere.libelle }} {{ demande.matiere.niveau.libelle }})
                        {% endif %}
                        </p>
                        </div>
                        <div class="conversation--message"> <p> {{ demande.commentaire }}</p> </div>
                    </div>
                    <div class="conversation__hour">
                        {# <p> Date : {{ demande.date_demande ? demande.date_demande|date_demande('d-m-Y') : '' }}</p>#}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}


