{% extends 'front.html.twig' %}

{% block title %}Bienvenue sur mon site{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Bienvenue sur le front de mon site internet</h1>
        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}"> Se déconnecter</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
