{% extends 'back.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ include('back/user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('back_user_index') }}">back to list</a>

{% endblock %}
