{% extends 'back.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    {% embed 'embed/_table.html.twig' %}
        {% block head %}
            <th>Slug</th>
            <th>Email</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Sexe</th>
            <th>DateNaissance</th>
            <th>Telephone</th>
            <th>Adresse</th>
            <th>IsVerified</th>
            <th>Roles</th>
            <th>actions</th>
        {% endblock %}
        {% block body %}
            {% for user in users %}
                <tr>
                    <td>{{ user.slug }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.sexe }}</td>
                    <td>{{ user.dateNaissance ? user.dateNaissance|date('Y-m-d') : '' }}</td>
                    <td>{{ user.telephone }}</td>
                    <td>{{ user.adresse }}</td>
                    <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                    <td>{{ user.getStringRoles() }}</td>
                    <td>
                        <a href="{{ path('back_user_show', {'slug': user.slug}) }}">show</a>
                        <a href="{{ path('back_user_edit', {'slug': user.slug}) }}">edit</a>
                        {% include 'back/user/_delete_form.html.twig' %}
                    </td>
                </tr>

            {% else %}
                <tr>
                    <td colspan="12">no records found</td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}

    <a href="{{ path('back_user_new') }}">Create new</a>

{% endblock %}
