{% extends 'back.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>

    {{ include('back/user/_form.html.twig') }}

    <a href="{{ path('back_user_index') }}">back to list</a>
{% endblock %}
