<form method="post" action="{{ path('back_matiere_delete', {'slug': matiere.slug}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('slug' ~ matiere.slug) }}">
    <button class="btn">Delete</button>
</form>
