{% extends 'back.html.twig' %}

{% block title %}Modifier Matiere{% endblock %}

{% block breadcrumb %}
    <a href="#!" class="breadcrumb">Modifier Matiere</a>
{% endblock %}

{% block body %}
    <h1>Modfier Matiere</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <a class="btn" href="{{ path('back_matiere_index') }}">
        back to list
    </a>
    <button class="btn">Modifier</button>
    {{ form_end(form) }}
{#
    {{ include('matiere/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('back_matiere_index') }}">back to list</a>

    {{ include('matiere/_delete_form.html.twig') }}
 #}
{% endblock %}
