{% extends 'back.html.twig' %}

{% block title %}Matiere index{% endblock %}

{% block body %}
    <h1>Matiere index</h1>

    {% embed 'embed/_table.html.twig' %}
        {% block head %}
            <th>Slug</th>
            <th>Libelle</th>
            <th>Niveau</th>
        {% endblock %}
        {% block body %}
            {% for matiere in matieres %}
                <tr>
                    <td>{{ matiere.Slug }}</td>
                    <td>{{ matiere.libelle }}</td>
                    <td>{{ matiere.getNiveau().getLibelle() }}</td>
                    <td>
                        <a href="{{ path('back_matiere_show', {'slug': matiere.slug}) }}">show</a>
                        <a href="{{ path('back_matiere_edit', {'slug': matiere.slug}) }}">edit</a>
                        {% include 'back/matiere/_delete_form.html.twig' %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}

    <a href="{{ path('back_matiere_new') }}">Create new</a>

{% endblock %}
