{% extends 'back.html.twig' %}

{% block title %}New Matiere{% endblock %}

{% block body %}
    <h1>Create new Matiere</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">Créer</button>
    {{ form_end(form) }}
{#
    {{ include('matiere/_form.html.twig') }}

#}

    <a href="{{ path('matiere_index') }}">back to list</a>
{% endblock %}
