{% extends 'back.html.twig' %}

{% block title %}Matiere{% endblock %}

{% block breadcrumb %}
    <a href="#!" class="breadcrumb">Show Matiere</a>
{% endblock %}

{% block body %}
    <h1>Matiere</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Slug</th>
                <td>{{ matiere.slug }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ matiere.libelle }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
