{% extends 'back.html.twig' %}

{% block title %}Edit Enseignant{% endblock %}

{% block body %}
    <h1>Edit Enseignant</h1>

    {{ include('back/enseignant/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('back_enseignant_index') }}">back to list</a>

    {{ include('back/enseignant/_delete_form.html.twig') }}
{% endblock %}
