{% extends 'back.html.twig' %}

{% block title %}Enseignant index{% endblock %}

{% block body %}
    <h1>Enseignant index</h1>

    {% embed 'embed/_table.html.twig' %}
        {% block head %}
            <th>Slug</th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Sexe</th>
            <th>Date_naissance</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Adresse</th>
            <th>Description</th>
            <th>Is_verified</th>
            <th>actions</th>
        {% endblock %}
        {% block body %}
            {% for enseignant in enseignants %}
                <tr>
                    <td>{{ enseignant.slug }}</td>
                    <td>{{ enseignant.nom }}</td>
                    <td>{{ enseignant.prenom }}</td>
                    <td>{{ enseignant.sexe }}</td>
                    <td>{{ enseignant.dateNaissance ? enseignant.dateNaissance|date('Y-m-d') : '' }}</td>
                    <td>{{ enseignant.email }}</td>
                    <td>{{ enseignant.telephone }}</td>
                    <td>{{ enseignant.adresse }}</td>
                    <td>{{ enseignant.description }}</td>
                    <td>{{ enseignant.isVerified ? 'Yes' : 'No' }}</td>
                    <td>
                        <a href="{{ path('back_enseignant_show', {'slug': enseignant.slug}) }}">show</a>
                        <a href="{{ path('back_enseignant_edit', {'slug': enseignant.slug}) }}">edit</a>
                        {% include 'back/enseignant/_delete_form.html.twig' %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="11">no records found</td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}

    <a href="{{ path('back_enseignant_new') }}">Create new</a>
{% endblock %}


