{% extends 'back.html.twig' %}

{% block title %}New Enseignant{% endblock %}

{% block body %}
    <h1>Create new Enseignant</h1>

    {{ include('back/enseignant/_form.html.twig') }}

    <a href="{{ path('back_enseignant_index') }}">back to list</a>
{% endblock %}
