{% extends 'back.html.twig' %}

{% block title %}Enseignant{% endblock %}

{% block body %}
    <h1>Enseignant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Slug</th>
                <td>{{ enseignant.slug }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ enseignant.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ enseignant.prenom }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ enseignant.sexe }}</td>
            </tr>
            <tr>
                <th>Date_naissance</th>
                <td>{{ enseignant.dateNaissance ? enseignant.dateNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ enseignant.email }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ enseignant.telephone }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ enseignant.adresse }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ enseignant.description }}</td>
            </tr>
            <tr>
                <th>Is_verified</th>
                <td>{{ enseignant.isVerified ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('back_enseignant_index') }}">back to list</a>

    <a href="{{ path('back_enseignant_edit', {'slug': enseignant.slug}) }}">edit</a>

    {{ include('back/enseignant/_delete_form.html.twig') }}
{% endblock %}
