{% extends 'front.html.twig' %}

{% block title %}Enseignant index{% endblock %}

{% block body %}
    <div class="teachers__page row">
        <form  class="search--form" method="post" action="{{ path('front_enseignant_search') }}">
            {% if(app.request.get('_route')) == "front_enseignant_search" %}
                <a href="{{ path('front_enseignants_show') }}">
                    <button type="button" class="btn">
                        <i class="fas fa-times"></i>
                    </button>
                </a>
            {% endif %}
            {% for message in app.flashes('info') %}
                <div class="alert alert-info">
                    {{ message }}
                </div>
            {% endfor %}
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" value="Rechercher">
            {{ form_end(form) }}
        </form>
    {% if( pagination == null) %}
        <p>Aucune résultat</p>
    {% else %}

        {% for teacher in pagination %}
            <div class="col__teacher col s12 l4 xl3">
                <div class="block__teacher">
                        <div class="header__teacher">
                            <a href="{{ path('front_teachers_request', { 'id': teacher.id }) }}" class="buttons__teacher">
                                <span>Contacter</span>
                            </a>
                            <img src="https://cdn.discordapp.com/attachments/556582916227072015/669473798562643978/man-wearing-black-cap-with-eyes-closed-under-cloudy-sky-810775.jpg" alt="profil-picture"/>
                            <span>{{ teacher.nom }} {{ teacher.prenom }}</span>
                        </div>
                        <div class="body__teacher">
                            <div class="select__body">
                                <div class="desc" id="{{teacher.id}}"> Description </div>
                                <div class="mat" id="{{teacher.id}}"> Matières </div>
                            </div>
                            <span class="description">{{ teacher.description }}</span>
                            <span class="matieres">
                                {% for matiere in teacher.getMatieres()  %}
                                    <p> {{ matiere.libelle }}</p>
                                {% endfor %}
                            </span>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('enseignants') }}
{% endblock %}