.accueil__page {
    padding: 20px;
    .matiere{
        h1{
            color: #333 ;
        }
    }
    .other {
        .search, .matiere, .new__demand {
            position: relative;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            box-shadow: $BoxShadow;
            background: $White;
            margin-bottom: 15px;
            .btn--demande {
                margin: 20px auto;
            }
            .header {
                position: sticky;
                top:0;
                height: 60px;
                border-bottom: 1px solid $LightGrey;
                padding: 20px;
                line-height: 20px;
                font-size: 20px;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 3px;
                color: $DarkGrey;
                white-space: nowrap;
                overflow-x: auto;
                overflow-y: hidden;
                z-index: 1;
            }
            form {
                display: flex;
                padding: 15px;
                &>#recherche {
                    width: 100%;
                    display: flex;
                    &>div:first-child {
                        width: 100%;
                        margin-right: 30px;
                    }
                    &>div:nth-child(2) {
                        width: 190px;
                    }
                    label {
                        display: none;
                    }
                    input[type="text"],
                    select {
                        display: block;
                        border: 1px solid $LightGrey;
                        border-radius: 20px;
                        height: 34px;
                        padding: 0 10px;
                        font-size: 14px;
                        transition: all .3s ease;
                        outline: none;

                        &:focus, &:hover {
                            border: 1px solid $PrimaryColor !important;
                            box-shadow: none !important;
                        }
                    }
                }
                input[type="submit"] {
                    width: 130px;
                    border-radius: 20px;
                    height: 34px;
                    margin-left: 10px;
                    transition: all .3s ease;
                    box-shadow: none;
                    &:hover {
                        transform: translateY(-3px);
                        box-shadow: $BoxShadowBtn;
                    }
                }
            }
        }
        .matiere .header .btn {
            position: absolute;
            right: 15px;
            top: 0;
            bottom: 0;
            margin: auto;
            border-radius: 20px;
            height: 34px;
            line-height: 34px;
            width: 34px;
            transition: all .3s ease;
            box-shadow: none;
            text-align: center;
            padding: 0;
            &:hover {
                transform: translateY(-3px);
                box-shadow: $BoxShadowBtn;
            }
        }
        .matiere .body {
            padding: 15px;
        }
    }
    .demands {
        position: relative;
        padding: 0;
        border-radius: 10px;
        box-shadow: $BoxShadow;
        background: $White;
        max-height: calc(100vh - 120px);
        overflow: auto;
        .header {
            position: sticky;
            top:0;
            height: 60px;
            border-bottom: 1px solid $LightGrey;
            padding: 20px;
            line-height: 20px;
            font-size: 20px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 3px;
            color: $DarkGrey;
            white-space: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            z-index: 1;
            background: $White;
        }
        .conversation__block {
            position: relative;
            display: flex;
            width: calc(100% - 20px);
            height: 100px;
            border-radius: 10px;
            box-shadow: $BoxShadow;
            background: $White;
            transition: all 0.5s ease;
            margin: 10px;
            padding: 10px;
            text-decoration: none;
            color: $Black;
            cursor: pointer;
            &:hover {
                transform: translateY(-3px);
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            }
            .conversation__image {
                img{
                    height: 80px;
                    border-radius: 10px;
                }
            }
            .conversation__text {
                margin-left: 10px;
                color: $Black;
                .conversation--header {
                    p {
                        white-space: nowrap;
                        span {
                            font-family: "Exo2-medium";
                            font-size: 16px;
                            font-weight: bold;
                        }
                    }
                }
                .conversation--message {
                    p {
                        max-height: 62px;
                        overflow: auto;
                    }
                }
            }
            .conversation__hour {
                position: absolute;
            }
            &.active {
                transform: translateX(175px);
                &:hover {
                    transform: translate(175px, -3px);
                    .listdemandes__actions {
                        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                    }
                }
            }
            .listdemandes__actions {
                position: absolute;
                left: 0;
                top: 0;
                height: 100px;
                width: 155px;
                border-radius: 10px;
                box-shadow: $BoxShadow;
                background: $White;
                opacity: 0;
                transform: translateX(-175px);
                transition: all 0.5s ease;
                padding: 10px;
                span {
                    color: $DarkGrey;
                    font-size: 10px;
                }
                .btn {
                    position: absolute;
                    left: 0;
                    bottom: 20px;
                    border-radius: 25px;
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    padding: 0;
                    text-align: center;
                    transition: all .3s ease;
                    &:hover {
                        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                        transform: translateY(-3px);
                    }
                    &.green {
                        background: $Green;
                        left: 25px;
                    }
                    &.red {
                        background: $PrimaryColor;
                        left: 85px;
                    }
                }
                &.active {
                    opacity: 1;
                }
            }
        }
    }
}