// Enseignant
@import "enseignant";
// Chat
@import "chat";
// Header
@import "header";
// Panel
@import "panel";
// User
@import "user";
// Connexion
@import "connexion";
// Demand
@import "demand";
// Error
@import "error";
// Accueil
@import "accueil";
// Matiere
@import "matiere";
// Payment
@import "payment";
.page {
    margin-left: 265px;
    margin-top: 60px;
    transition: ease 0.5s;
    font-family: "Exo2-regular";
    &.mini {
        margin-left: 80px;
    }
}
#toast-container {
    top: 0px;
    right: 20px;
    margin-top: 6px;
    .toast {
        margin-top: 0;
    }
}