.chat__page {
    padding: 20px;
    .chat__block {
        border-radius: 10px;
        box-shadow: $BoxShadow;
        background: $White;
        width: 100%;
        height: calc(100vh - 100px);
        display: flex;
        flex-direction: column;
        .chat__header {
            position: relative;
            border-bottom: 1px solid $VeryLightGrey;
            height: 70px;
            img {
                height: 50px;
                width: 50px;
                border-radius: 10px;
                margin: 10px;
            }
            .matiere {
                position: absolute;
                top: 15px;
                left: 70px;
                font-weight: bold;
                font-size: 15px;
            }
            .nbr--msg {
                position: absolute;;
                top: 35px;
                left: 70px;
                color: $LightGrey;
                font-size: 13px;
            }
        }
        .chat__body {
            display: flex;
            flex-direction: column;
            height: inherit;
            overflow: auto;
            scroll-behavior: smooth;
            .msg {
                border-radius: 10px;
                box-shadow: $BoxShadow;
                background: $White;
                max-width: 50%;
                .msg--header {
                    margin: 10px;
                }
                .msg--footer {
                    position: relative;
                    border-top: 1px solid $VeryLightGrey;
                    margin-top: 10px;
                    height: 20px;
                    display: flex;
                    span {
                        margin: auto 10px auto 10px;
                        text-align: right;
                        color: $LightGrey;
                        font-size: 12px;
                        width: 100%;
                    }
                }
            }
            .msg--me {
                margin: 10px 10px 10px auto;
            }
            .msg--other {
                margin: 10px auto 10px 10px;
            }
        }
        .chat__footer {
            position: relative;
            height: 52px;
            max-height: 120px;
            label {
                display: none;
            }
            textarea {
                width: calc(100% - 104px);
                margin: 10px;
                border: 1px solid $LightGrey;
                border-radius: 16px;
                resize: none;
                outline: none;
                padding: 10px;
                min-height: 32px;
                max-height: 100px;
                overflow: auto;
                font-size: 12px;
                line-height: 12px;
                height: 32px;
            }
            .btn--file {
                position: absolute;
                right: 52px;
                bottom: 10px;
                background: $LightGrey;
                height: 32px;
                line-height: 32px;
                width: 32px;
                font-size: 16px;
                border-radius: 20px;
                color: $White;
                text-align: center;
                cursor: pointer;
                transition: transform .2s ease;
                &:hover {
                    transform: scale(1.2);
                }
            }
            .btn--send {
                position: absolute;
                right: 10px;
                bottom: 10px;
                background: $PrimaryColor;
                height: 32px;
                line-height: 32px;
                width: 32px;
                font-size: 16px;
                border-radius: 20px;
                color: $White;
                text-align: center;
                cursor: pointer;
                transition: transform .2s ease;
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}