.page__connexion {
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: 'Roboto';
    .img__block {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 55vw;
        height: 100%;
        background: $PrimaryColor;
        left: 0;
        top: 0;
        transition: all .5s ease;
        &.confirm {
            width: 100vw;
            .message {
                opacity: 1;
                display: block;
                transform: translateY(0);
                .btn {

                }
            }
            .img {
                height: 65%;
                margin-top: 100px;
                &>img {
                    height: auto;
                    width: 100%;
                }
            }
        }
        &>svg {
            height: 180px;
            margin-top: -20px;
            g:first-child {
                path {
                    fill: $White;
                }
            }
            g:last-child {
                path {
                    fill: $Black;
                }
            }
        }
        .message {
            color: $White;
            display: none;
            opacity: 0;
            transition: all .5s ease;
            text-align: center;
            font-family: $RobotoLight;
            font-size: 20px;
            letter-spacing: 3px;
            position: absolute;
            left: 0;
            right: 0;
            top: 160px;
            margin: auto;
            width: max-content;
            transform: translateY(100px);
            .btn {
                display: block;
                text-align: center;
                margin: 20px auto;
                width: 200px;
                height: 34px;
                letter-spacing: 3px;
                color: $PrimaryColor;
                background: $White;
                border-radius: 20px;
                line-height: 34px;
                text-transform: uppercase;
                transition: all .5s ease;
                cursor: pointer;
                outline: none;
                border: none;
                text-decoration: none;
                font-size: 14px;
                &:hover {
                    transform: translateY(-3px);
                    box-shadow: $BoxShadowBtn;
                }
            }
        }
        .img {
            height: 80%;
            width: 95%;
            overflow: hidden;
            margin: auto;
            margin-top: -20px;
            position: relative;
            transition: all .5s ease;
            &>img {
                min-height: 100%;
                min-width: 100%;
                height: 100%;
                width: auto;
                position: absolute;
                transition: all .5s ease;
                margin: auto;
                opacity: 1;
                &#signup {
                    &.hide {
                        transform: translateX(-100%);
                        opacity: 0;
                    }
                }
                &#signin {
                    &.hide {
                        transform: translateX(100%);
                        opacity: 0;
                    }
                }
            }

            &:after {
                position: absolute;
                content:"";
                height:100%;
                width:100%;
                top:0;
                left:0;
                background: linear-gradient(45deg, #EB4D4BAA, #EB4D4B33);
            }
        }
        &.signin {
            left: 0;
        }
        &.signup {
            left: 45vw;
        }
    }
    .singup__block {
        width: 45vw;
        height: 100%;
        background: $White;
        .signup__header {
            font-weight: bold;
            font-size: 32px;
            width: max-content;
            margin: 30px auto 30px;
            display: flex;
            flex-direction: column;
            &>span {
                font-weight: normal;
                font-size: 14px;
                display: block;
                margin: -5px auto;
              &>span {
                  cursor: pointer;
                  text-decoration: underline;
              }
            }
        }
        .signup__body {
            display: flex;
            flex-direction: column;
            width: 300px;
            margin: auto;
            #registration_form_sexe,
            #registration_form_roles {
                * {
                    display: inline-block;
                    width: auto;
                }
                input {
                    height: 14px;
                    margin: 0 auto;
                }
                label {
                    line-height: 30px;
                    height: 30px;
                    margin: 0 10px;
                }
            }
            input#registration_form_agreeTerms {
                margin-left: 10px;
            }
            label {
                margin-bottom: 3px;
                margin-top: 8px;
                transition: all .5s ease;
            }
            select {
                width: 100%;
                margin: auto;
                display: block;
                border: 1px solid $LightGrey;
                border-radius: 20px;
                height: 34px;
                padding: 0 10px;
                font-size: 14px;
                margin-bottom: 8px;
                background: $White;
            }
            input:not([type='checkbox']) {
                margin: auto;
                display: block;
                width: calc(100% - 22px);
                border: 1px solid $LightGrey;
                border-radius: 20px;
                height: 34px;
                padding: 0 10px;
                font-size: 14px;
                margin-bottom: 8px;
                outline: none;
                &:hover {
                    border: 1px solid $PrimaryColor !important;
                    box-shadow: none !important;
                }
                &:focus {
                    border: 1px solid $PrimaryColor !important;
                    box-shadow: none !important;
                }
            }
            .btn {
                margin: 20px auto;
                width: 100%;
                height: 34px;
                letter-spacing: 2px;
                color: $White;
                border-radius: 20px;
                line-height: 34px;
                text-transform: uppercase;
                transition: all .5s ease;
                cursor: pointer;
                outline: none;
                border: none;
                box-shadow: none;
                &:hover {
                    transform: translateY(-3px);
                    box-shadow: $BoxShadowBtn;
                }
            }
        }
    }
    .signin__block {
        width: 45vw;
        height: 100%;
        background: $White;
        margin-left: 10vw;
        .signin__header {
            font-weight: bold;
            font-size: 32px;
            width: max-content;
            margin: 100px auto 100px;
            display: flex;
            flex-direction: column;
            &>span {
                font-weight: normal;
                font-size: 14px;
                display: block;
                margin: -5px auto;
                &>span {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
        .forget_psw{
            text-align: center;
            transition: all .3s ease;
            
            p {
                line-height: 1.4;
            }
            
            a {
                outline: none;
                color: #EB4D4B;
                font-family: helvetica;
                text-decoration: none;
                padding: 2px 1px 0;
            }
            &:hover {
                    transform: scale(1.03);
            }
        }
        .signin__body {
            display: flex;
            flex-direction: column;
            width: 300px;
            margin: auto;
            label {
                margin-bottom: 3px;
                margin-top: 25px;
                transition: all .5s ease;
            }
            select {
                width: 100%;
                margin: auto;
                display: block;
                border: 1px solid $LightGrey;
                border-radius: 20px;
                height: 34px;
                padding: 0 10px;
                font-size: 14px;
                margin-bottom: 25px;
                background: $White;
            }
            input:not([type='checkbox']) {
                margin: auto;
                display: block;
                width: calc(100% - 22px);
                border: 1px solid $LightGrey;
                border-radius: 20px;
                height: 34px;
                padding: 0 10px;
                font-size: 14px;
                margin-bottom: 25px;
                margin-top: 10px;
                outline: none;
                &:hover {
                    border: 1px solid $PrimaryColor !important;
                    box-shadow: none !important;
                }
                &:focus {
                    border: 1px solid $PrimaryColor !important;
                    box-shadow: none !important;
                }
            }
            .btn {
                margin: 20px auto;
                width: 100%;
                height: 34px;
                letter-spacing: 2px;
                color: $White;
                border-radius: 20px;
                line-height: 34px;
                text-transform: uppercase;
                transition: all .5s ease;
                cursor: pointer;
                outline: none;
                border: none;
                box-shadow: none;
                &:hover {
                    transform: translateY(-3px);
                    box-shadow: $BoxShadowBtn;
                }
            }
            .forget_psw {
                margin-top: 5px;
            }
        }
    }
}