.demande__page {
    padding: 20px;
    display: flex;
    min-height: calc(100vh - 60px);
    .modal__time {
        box-shadow: $BoxShadow;
        margin: auto;
        display: flex;
        flex-direction: column;
        min-width: 200px;
        border-radius: 10px;
        &.hidden{
            display: none;
        }
        #time{
            margin: 0 20px;
            width: calc(100% - 40px);
        }
        .confirm__time{
            color: #fff;
            background: $PrimaryColor;
            height: 34px;
            border-radius: 20px;
            text-align: center;
            padding: 0 10px;
            margin:20px auto 10px;
            border: none;
            outline: none;
        }
        .header {
            position: sticky;
            top:0;
            height: 60px;
            border-bottom: 1px solid $LightGrey;
            padding: 20px;
            line-height: 20px;
            font-size: 20px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 3px;
            color: $DarkGrey;
            white-space: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            z-index: 1;
            background: $White;
        }
    }
    .demande__block {
        display: flex;
        flex-direction: column;
        width: 400px;
        border-radius: 10px;
        box-shadow: $BoxShadow;
        background: $White;
        transition: transform 0.3s ease;
        margin: auto;
        &.hidden{
            display: none;
        }
        .demande__header {
            height: 60px;
            border-bottom: 1px solid $LightGrey;
            padding: 20px;
            line-height: 20px;
            font-size: 20px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 3px;
            color: $DarkGrey;
        }
        p{
            text-align: center;
        }
        form {
            position: relative;
            display: flex;
            padding-top: 20px;
            flex-direction: column;
            img {
                height: 130px;
                width: 130px;
                border-radius: 65px;
                position: absolute;
                left: 0;
                right: 0;
                top: -130px;
                margin: auto;
                box-shadow: $BoxShadow;
                transition: all .5s ease;
                cursor: pointer;
                &:hover {
                    transform: translateY(-3px);
                    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                }
            }
            &>div {
                display: flex;
                flex-direction: column;
                label {
                    margin-left: 50px;
                    margin-bottom: 3px;
                    margin-top: 8px;
                    transition: all .5s ease;
                }
            }
            input, select {
                outline: none;
                margin: auto;
                display: block;
                width: 278px;
                border: 1px solid $LightGrey;
                border-radius: 20px;
                height: 34px;
                padding: 0 10px;
                font-size: 14px;
                margin-bottom: 8px;
                &:hover {
                    border: 1px solid $PrimaryColor !important;
                    box-shadow: none !important;
                }
                &:focus {
                    border: 1px solid $PrimaryColor !important;
                    box-shadow: none !important;
                }
            }
            #demande {
                &>div {
                    display: flex;
                    flex-direction: column;
                    label {
                        margin-left: 50px;
                        margin-bottom: 3px;
                        margin-top: 8px;
                        transition: all .5s ease;
                    }
                    textarea {
                        margin: auto;
                        display: block;
                        width: 298px;
                        max-width: 298px;
                        border: 1px solid $LightGrey;
                        border-radius: 20px;
                        padding: 0 10px;
                        font-size: 14px;
                        margin-bottom: 8px;
                        outline: none;
                        resize: none;
                        &:hover {
                            border: 1px solid $PrimaryColor !important;
                            box-shadow: none !important;
                        }
                        &:focus {
                            border: 1px solid $PrimaryColor !important;
                            box-shadow: none !important;
                        }
                    }
                }
            }
            select {
                width: 298px;
                padding: 0;
            }
            .btn {
                margin: 20px auto;
                width: 300px;
                height: 34px;
                letter-spacing: 3px;
                color: $White;
                border-radius: 20px;
                line-height: 34px;
                text-transform: uppercase;
                transition: all .5s ease;
                &:hover {
                    transform: translateY(-3px);
                    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                }
            }
        }
    }
}
.conversations__page {
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 60px);
    .title__list {
        font-size: 20px;
        color: $DarkGrey;
        margin-bottom: 10px;
        margin-left: 10px;
    }
    .conversation__block {
        position: relative;
        display: flex;
        width: 100%;
        height: 100px;
        border-radius: 10px;
        box-shadow: $BoxShadow;
        background: $White;
        transition: all 0.5s ease;
        margin-bottom: 10px;
        padding: 10px;
        text-decoration: none;
        color: $Black;
        cursor: pointer;
        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
        .conversation__image {
            img{
                height: 80px;
                border-radius: 10px;
            }
        }
        .conversation__text {
            margin-left: 10px;
            color: $Black;
            .conversation--header {
                span {
                    font-family: "Exo2-medium";
                    font-size: 16px;
                    font-weight: bold;
                }
            }
            .conversation--message {
                p {
                    max-height: 62px;
                    overflow: auto;
                }
            }
        }
        .conversation__hour {
            position: absolute;
        }
        &.active {
            transform: translateX(175px);
            &:hover {
                transform: translate(175px, -3px);
                .listdemandes__actions {
                    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                }
            }
        }
        .listdemandes__actions {
            position: absolute;
            left: 0;
            top: 0;
            height: 100px;
            width: 155px;
            border-radius: 10px;
            box-shadow: $BoxShadow;
            background: $White;
            opacity: 0;
            transform: translateX(-175px);
            transition: all 0.5s ease;
            padding: 10px;
            span {
                color: $DarkGrey;
                font-size: 10px;
            }
            .btn {
                position: absolute;
                left: 0;
                bottom: 20px;
                border-radius: 25px;
                width: 40px;
                height: 40px;
                line-height: 40px;
                padding: 0;
                text-align: center;
                transition: all .3s ease;
                &:hover {
                    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                    transform: translateY(-3px);
                }
                &.green {
                    background: $Green;
                    left: 25px;
                }
                &.red {
                    background: $PrimaryColor;
                    left: 85px;
                }
            }
            &.active {
                opacity: 1;
            }
        }
    }
}