.teachers__page {
    .search--form {
    display: flex;
        .btn {
            border: 1px solid $LightGrey;
            border-radius: 20px;
            height: 36px;
            padding: 0 10px;
            font-size: 14px;
            transition: all .3s ease;
            width: 36px;
            margin: 10px 0 10px 10px;
            background: $PrimaryColor;
            color: $White;
            border: none;
            box-shadow: none;
            outline: none;
            &:hover {
                transform: translateY(-3px);
                box-shadow: $BoxShadowBtn;
            }
        }
        label {
            display: none
        }
        #recherche {
            display: flex;
            &>div:first-child {
                width: calc(100% - 220px);
                margin-right: 30px;
            }
            &>div:nth-child(2) {
                width: 190px;
            }
            padding: 10px 10px 0 10px;
            width: 100%;
        }
        input[type="text"],
        select {
            border: 1px solid $LightGrey;
            border-radius: 20px;
            height: 34px;
            padding: 0 10px;
            font-size: 14px;
            transition: all .3s ease;
            outline: none;
            &:focus, &:hover {
                border: 1px solid $PrimaryColor !important;
                box-shadow: none !important;
            }
        }
        &>input {
            height: 36px;
            width: 150px;
            margin: 10px 10px 10px 0;
            background: $PrimaryColor;
            color: $White;
            border: none;
            cursor: pointer;
            border-radius: 20px;
            transition: all .3s ease;
            outline: none;
            &:hover {
                transform: translateY(-3px);
                box-shadow: $BoxShadowBtn;
            }
        }
    }
    .col__teacher {
        padding: 20px;
        .block__teacher {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            box-shadow: $BoxShadow;
            background: $White;
            transition: all .5s ease;
            &>a {
                color: $Black;
            }
            &:hover {
                transform: translateY(-3px);
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            }
            &:hover {
                .header__teacher{
                    .buttons__teacher {
                        opacity: 1;
                    }
                }
            }
            .header__teacher {
                position: relative;
                display: flex;
                flex-direction: column;
                border-bottom: 1px solid $VeryLightGrey;

                .buttons__teacher {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: $PrimaryColor;
                    opacity: 0;
                    transition: all .3s ease;
                    height: 100px;
                    width: 100px;
                    border-radius: 50px;
                    margin: 15px auto;
                    right: 0;
                    left: 0;
                    text-align: center;
                    line-height: 100px;
                    color: $White;
                    cursor: pointer;
                    &:hover {
                        transform: scale(1.02);
                        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                    }
                    span {
                        transition: opacity .5s ease;
                    }
                }
                &>img {
                    height: 100px;
                    width: 100px;
                    border-radius: 50px;
                    margin: 15px auto;
                }
                &>span {
                    margin: 0 auto 5px;
                    font-weight: bold;
                }
            }
            .body__teacher {
                position: relative;
                display: flex;
                flex-direction: column;
                overflow: auto;
                .select__body {
                    position: sticky;
                    display: flex;
                    top: 0;
                    background: $White;
                    padding: 0 50px;
                    &>div {
                        width: 50%;
                        text-align: center;
                        cursor: pointer;
                        &.desc {
                            font-weight: 700;
                        }
                        &.mat {
                            font-weight: 300;
                        }
                    }
                    border-bottom: 1px solid $VeryLightGrey;
                }
                .description {
                    margin: auto;
                    text-align: center;
                    height: 120px;
                    padding: 5px 15px 5px;
                }
                .matieres {
                    display: none;
                    height: 120px;
                    padding: 5px 15px 5px;
                    text-align: center;
                }
                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }
    .navigation {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto;
        .pagination {
            text-align: center;
            .active {
                background: $PrimaryColor;
            }
        }
    }
}