.error__page {
    padding: 20px;
    display: flex;
    min-height: calc(100vh - 60px);
    margin: auto;
    .error__block {
        display: flex;
        flex-direction: column;
        height: max-content;
        margin: auto;
        .title {
            margin: auto;
            font-size: 100px;
            color: $PrimaryColor;
        }
        .text {
            margin: auto;
        }
        .buttons {
            margin: auto;
            .btn {
                text-align: center;
                margin: 20px auto;
                &:first-child {
                    margin-right: 15px;
                }
                &:last-child {
                    margin-left: 15px;
                }
                width: 300px;
                height: 34px;
                letter-spacing: 2px;
                background: $PrimaryColor;
                color: $White;
                border-radius: 20px;
                line-height: 34px;
                text-transform: uppercase;
                transition: all .5s ease;
                cursor: pointer;
                outline: none;
                border: none;
                text-decoration: none;
                font-size: 12px;
                box-shadow: none;
                &:hover {
                    transform: translateY(-3px);
                    box-shadow: $BoxShadowBtn;
                }
            }
        }
    }
}