.header__block {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background: $White;
    box-shadow: $BoxShadow;
    z-index: 95;
    .logo__block {
        position: absolute;
        font-family: $RobotoLight;
        letter-spacing: 3px;
        font-size: 26px;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: max-content;
        height: max-content;
        :first-child {
            color: $Black;
        }
        :last-child {
            color: $PrimaryColor;
        }
    }

    .alerts__block {
        position: absolute;
        display: flex;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 26px;
        color: $LightGrey;
        a {
            height: 26px;
            color: $LightGrey;
            &>i {
                display: block;
            }
        }
        i {
            font-size: 26px;
            height: 26px;
            margin-right: 30px;
        }
    }
}