.matiere__page {
    padding: 90px 20px 20px;
    display: flex;
    min-height: calc(100vh - 60px);
    .matiere__add {
        display: flex;
        flex-direction: column;
        width: 400px;
        border-radius: 10px;
        box-shadow: $BoxShadow;
        background: $White;
        transition: transform 0.3s ease;
        margin: auto;
        .matiere__header {
            height: 60px;
            border-bottom: 1px solid $LightGrey;
            padding: 20px;
            line-height: 20px;
            font-size: 20px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 3px;
            color: $DarkGrey;
        }
        form {
            position: relative;
            display: flex;
            flex-direction: column;
            img {
                height: 130px;
                width: 130px;
                border-radius: 65px;
                position: absolute;
                left: 0;
                right: 0;
                top: -130px;
                margin: auto;
                box-shadow: $BoxShadow;
                transition: all .5s ease;
                cursor: pointer;
                &:hover {
                    transform: translateY(-3px);
                    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                }
            }
            &>div {
                display: flex;
                flex-direction: column;
                &:hover {
                    label:not(:focus) {
                        color: $PrimaryColor;
                    }
                    input, select {
                        border: 1px solid $PrimaryColor !important;
                        box-shadow: none !important;
                    }
                }
                label {
                    margin-left: 50px;
                    margin-bottom: 3px;
                    margin-top: 8px;
                    transition: all .3s ease;
                }
                input, select {
                    margin: auto auto 12px auto;
                    display: block;
                    width: 278px;
                    border: 1px solid $LightGrey;
                    border-radius: 20px;
                    height: 34px;
                    padding: 0 10px;
                    font-size: 14px;
                    transition: all .3s ease;
                    &:focus {
                        border: 1px solid $PrimaryColor !important;
                        box-shadow: none !important;
                    }
                }
                select {
                    width: 298px;
                    padding: 0;
                }
            }
            .btn {
                margin: 20px auto;
                width: 300px;
                height: 34px;
                letter-spacing: 2px;
                color: $White;
                border-radius: 20px;
                line-height: 34px;
                text-transform: uppercase;
                transition: all .5s ease;
                box-shadow: none;
                &:hover {
                    transform: translateY(-3px);
                    box-shadow: $BoxShadowBtn;
                }
            }
        }
    }
}