.panel__block {
    position: fixed;
    display: flex;
    flex-direction: column;
    font-family: $RobotoLight;
    letter-spacing: 2px;
    background: $PrimaryColor;
    height: 100vh;
    width: 265px;
    left: 0;
    top: 0;
    transition: width ease 0.5s;
    z-index: 100;
    .panel--switch {
        position: absolute;
        top: 0;
        right: -30px;
        font-size: 20px;
        line-height: 60px;
        color: $LightGrey;
        cursor: pointer;
        transition: transform .3s ease;
        &.active {
            transform: rotate(180deg);
        }
    }
    &.mini {
        width: 80px;
        .logo--icon {
            height: 75px;
            svg {
                height: 75px;
            }
        }
        .menu__block {
            a:first-child .menu--item {
                margin-top: 25px;
            }
            .menu--item {
                margin-bottom: 0;
                span {
                    opacity: 0;
                    transform: translateX(1000px);
                }
                &.exit {
                    bottom: 0px;
                }
            }
        }

        .footer {
            opacity: 0;
        }
    }

    &:not(.mini) .menu__block .menu--item:hover {
        &.exit i {
            transform: translateX(5px) rotate(180deg);
        }
        span, &:not(.exit) i {
            transform: translateX(5px);
        }
    }

    .logo--icon {
        margin-left: auto;
        margin-right: auto;
        height: 200px;
        transition: ease 0.5s;
        svg  {
            height: 200px;
            transition: height ease 0.5s;
            g {
                &:first-child {
                    path {
                        fill: $White;
                    }
                }
                &:last-child {
                    path {
                        fill: $Black;
                    }
                }
            }
        }
    }
    .menu__block {
        position: relative;
        height: 100%;
        .menu--item {
            position: relative;
            height: 70px;
            width: 100%;
            margin-bottom: 15px;
            transition: ease 0.5s;

            &.waves-effect .waves-ripple {
                background-color: #FFFFFF30;
            }

            &.active {
                background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 100%);
                &:after {
                    content: "";
                    display: block;
                    width: 5px;
                    height: 100%;
                    background: $White;
                    margin-left: calc(100% - 5px);
                }
            }

            &.exit {
                position: absolute;
                top: auto;
                bottom: 50px;
                left: 0;
                i {
                    transform: rotate(180deg);
                }
            }

            i {
                position: absolute;
                font-size: 24px;
                color: $White;
                left: 20px;
                top: 0;
                bottom: 0;
                margin: auto;
                height: max-content;
                width: 40px;
                text-align: center;
                transition: transform .3s ease;
            }
            span {
                opacity: 1;
                position: absolute;
                font-size: 24px;
                color: $White;
                right: auto;
                left: 80px;
                top: 0;
                bottom: 0;
                margin: auto;
                height: max-content;
                transition: transform .3s ease;
            }
        }
    }
    .footer {
        position: absolute;
        width: 265px;
        color: $White;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto auto 15px auto;
        text-align: center;
        opacity: 1;
        transform: translateY(0);
        transition: ease 0.5s;
        font-size: 12px;
        a {
            font-weight: bold;
            font-family: Roboto;
            color: $White;
        }
    }
}