.payment__block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: $BoxShadow;
    background: $White;
    transition: transform 0.3s ease;
    margin: 100px auto auto;
    width: 500px;
    .header {
        position: sticky;
        top:0;
        height: 60px;
        border-bottom: 1px solid $LightGrey;
        padding: 20px;
        line-height: 20px;
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: $DarkGrey;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
        z-index: 1;
    }
    .montant {
        text-align: center;
        color: $DarkGrey;
    }
    #payment-form {
        display: flex;
        flex-direction: column;

        .StripeElement {
            padding: 10px 20px;
        }

        .submit--btn {
            position: relative;
            margin: 10px auto;
            padding: 0 10px;
            height: 34px;
            letter-spacing: 3px;
            color: $White;
            background: $PrimaryColor;
            border-radius: 20px;
            line-height: 34px;
            text-transform: uppercase;
            transition: all .5s ease;
            cursor: pointer;
            border: none;
            &:hover {
                transform: translateY(-3px);
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            }
        }
    }
}