.user__page {
    padding: 90px 20px 20px;
    display: flex;
    min-height: calc(100vh - 60px);
    .user__edit {
        display: flex;
        flex-direction: column;
        width: 400px;
        border-radius: 10px;
        box-shadow: $BoxShadow;
        background: $White;
        transition: transform 0.3s ease;
        padding-top: 60px;
        margin: auto;
        form {
            position: relative;
            display: flex;
            flex-direction: column;
            img {
                height: 130px;
                width: 130px;
                border-radius: 65px;
                position: absolute;
                left: 0;
                right: 0;
                top: -130px;
                margin: auto;
                box-shadow: $BoxShadow;
                transition: all .5s ease;
                cursor: pointer;
                &:hover {
                    transform: translateY(-3px);
                    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                }
            }
            #user {
                &>div {
                    display: flex;
                    flex-direction: column;
                    &:hover {
                        label:not(:focus) {
                            color: $PrimaryColor;
                        }
                        input, select {
                            border: 1px solid $PrimaryColor !important;
                            box-shadow: none !important;
                        }
                    }
                    label {
                        margin-left: 50px;
                        margin-bottom: 3px;
                        margin-top: 8px;
                        transition: all .3s ease;
                    }
                    input, select {
                        margin: auto auto 12px auto;
                        display: block;
                        width: 278px;
                        border: 1px solid $LightGrey;
                        border-radius: 20px;
                        height: 34px;
                        padding: 0 10px;
                        font-size: 14px;
                        transition: all .3s ease;
                        &:focus {
                            border: 1px solid $PrimaryColor !important;
                            box-shadow: none !important;
                        }
                    }
                    select {
                        width: 298px;
                        padding: 0;
                    }
                }
            }
            .btn {
                margin: 20px auto;
                width: 300px;
                height: 34px;
                letter-spacing: 2px;
                color: $White;
                border-radius: 20px;
                line-height: 34px;
                text-transform: uppercase;
                transition: all .5s ease;
                box-shadow: none;
                &:hover {
                    transform: translateY(-3px);
                    box-shadow: $BoxShadowBtn;
                }
            }
        }
    }
    .payment__list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border-radius: 10px;
        box-shadow: $BoxShadow;
        background: $White;
        transition: transform 0.3s ease;
        margin: 0 auto auto;
        width: 500px;
        .header {
            position: sticky;
            top:0;
            height: 60px;
            border-bottom: 1px solid $LightGrey;
            padding: 20px;
            line-height: 20px;
            font-size: 20px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 3px;
            color: $DarkGrey;
            white-space: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            width: 100%;
            z-index: 1;
        }

        .restant {
            text-align: center;
        }

        .credit {
            position: relative;
            width: max-content;
            margin: auto;
            padding-right: 25px;
            font-size: 22px;    
            svg {
                height: 35px;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
        .click {
            font-size: 14px;
            text-align: center;
            color: $DarkGrey;
        }
        .credit_btn {
            .payement {
                position: relative;
                margin: 10px auto;
                height: 34px;
                letter-spacing: 3px;
                color: $White;
                background: $PrimaryColor;
                border-radius: 5px;
                line-height: 34px;
                text-transform: uppercase;
                transition: all .5s ease;
                &:hover {
                    transform: translateY(-3px);
                    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                }
                .icon {
                    position: absolute;
                    left: 10px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                } 
                .text {
                    color: $White;
                    text-align: center;
                }
            }
        }
    }
}