<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/build/app.css') }}">
    {% endblock %}
</head>
<body>
<main class="back__office">
    {% include 'back/components/panel.html.twig' %}
    {% block body %}{% endblock %}
</main>
{#<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{#<script>
    $(document).ready(function(){
        $('.sidenav').sidenav();
    });
</script>#}
<script src="{{ asset('/build/app.js') }}"
{% block javascripts %} {% endblock %}
</body>
</html>
