{% extends 'front.html.twig' %}

{% block title %}Demande{% endblock %}

{% block body %}
    <div class="conversations__page">
        {% for demande in demandes %}
            <a href="{{ path('front_chat_demande', {'demande_id': demande.id}) }}" class="conversation__block" >
                <div class="conversation__image">
                    <img src="https://cdn.discordapp.com/attachments/556582916227072015/669473798562643978/man-wearing-black-cap-with-eyes-closed-under-cloudy-sky-810775.jpg" alt="profil-picture"/>
                </div>
                <div class="conversation__text">
                    <div class="conversation--header"> <p> <span>
                        {% if user.id == demande.eleve.id %}
                            {{ demande.enseignant.prenom }} {{ demande.enseignant.nom }}
                        {% elseif user.id == demande.enseignant.id %}
                            {{ demande.eleve.prenom }} {{ demande.eleve.nom }}
                        {% endif %}
                        </span>
                            {% if demande.matiere is defined and demande.matiere.niveau is defined %}
                                ({{ demande.matiere.libelle }} {{ demande.matiere.niveau.libelle }})
                           {% endif %}
                        </p>
                    </div>
                    <div class="conversation--message"> <p> {{ demande.commentaire }}</p> </div>
                </div>
                <div class="conversation__hour">
                    {# <p> Date : {{ demande.date_demande ? demande.date_demande|date_demande('d-m-Y') : '' }}</p>#}
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
