{% extends 'front.html.twig' %}

{% block title %}Liste des demandes{% endblock %}

{% block body %}
    <div class="conversations__page">
        <div class="title__list">
            Vos demandes en attentes
        </div>
        {% for demande in myDemandes %}
            <div class="conversation__block" id="block--{{ demande.id }}" onclick="openAction({{ demande.id }})">
                <div class="conversation__image">
                    <img src="https://cdn.discordapp.com/attachments/556582916227072015/669473798562643978/man-wearing-black-cap-with-eyes-closed-under-cloudy-sky-810775.jpg" alt="profil-picture"/>
                </div>
                <div class="conversation__text">
                    <div class="conversation--header"> <p> <span> {{ demande.eleve.prenom }} {{ demande.eleve.nom }} </span> </div>
                    <div class="conversation--message"> <p> {{ demande.commentaire }}</p> </div>
                </div>
                <div class="conversation__hour">
                    {# <p> Date : {{ demande.date_demande ? demande.date_demande|date_demande('d-m-Y') : '' }}</p>#}
                </div>
                <div class="listdemandes__actions" id="actions--{{ demande.id }}">
                    <span> Lancer un chat avec cet élève </span>
                    <a href="{{ path('front_chat_demande', {'demande_id': demande.id}) }}" class="btn green accept">
                        <i class="fa fas fa-check"></i>
                    </a>
                    <div class="btn red refuse" onclick="closeAction({{ demande.id }})">
                        <i class="fa fas fa-times"></i>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="title__list">
            Les demandes libres en attentes
        </div>
        {% for demande in demandes %}
            <div class="conversation__block" id="block--{{ demande.id }}" onclick="openAction({{ demande.id }})">
                <div class="conversation__image">
                    <img src="https://cdn.discordapp.com/attachments/556582916227072015/669473798562643978/man-wearing-black-cap-with-eyes-closed-under-cloudy-sky-810775.jpg" alt="profil-picture"/>
                </div>
                <div class="conversation__text">
                    <div class="conversation--header"> <p> <span> {{ demande.eleve.prenom }} {{ demande.eleve.nom }} </span> </div>
                    <div class="conversation--message"> <p> {{ demande.commentaire }}</p> </div>
                </div>
                <div class="conversation__hour">
                    {# <p> Date : {{ demande.date_demande ? demande.date_demande|date_demande('d-m-Y') : '' }}</p>#}
                </div>
                <div class="listdemandes__actions" id="actions--{{ demande.id }}">
                    <span> Lancer un chat avec cet élève </span>
                    <a href="{{ path('front_chat_demande', {'demande_id': demande.id}) }}" class="btn green accept">
                        <i class="fa fas fa-check"></i>
                    </a>
                    <div class="btn red refuse" onclick="closeAction({{ demande.id }})">
                        <i class="fa fas fa-times"></i>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function openAction(idDemand) {
            let list = document.getElementsByClassName('conversation__block');
            for (let item of list) {
                item.classList.remove('active');
            }
            let list2 = document.getElementsByClassName('listdemandes__actions');
            for (let item of list2) {
                item.classList.remove('active');
            }
            document.getElementById('block--' + idDemand).classList.add('active');
            document.getElementById('actions--' + idDemand).classList.add('active');
        }
        function closeAction(idDemand) {
            setTimeout(function() {
                document.getElementById('block--' + idDemand).classList.remove('active');
                document.getElementById('actions--' + idDemand).classLis.remove('active');
            }, 10);
        }
    </script>
{% endblock %}
