{% extends 'front.html.twig' %}

{% block title %}New Demande{% endblock %}

{% block body %}
    <div class="demande__page">

        <div id="calendar-holder"></div>

        <div class="modal__time hidden">
            <div class="header">Choisissez votre heure</div>
            <input type="time" id="time">
            <button class="confirm__time">Valider</button>
        </div>

        <div class="demande__block">
            {% if enseignant is defined %}
                <div class="demande__header"> {{ enseignant.nom }} {{ enseignant.prenom }} </div>
            {% else %}
                <div class="demande__header">  Nouvelle demande </div>
            {% endif %}

            <p>La demande vous coutera 10 credits</p>

            {{ form_start(form) }}
                    {{ form_widget(form) }} 
                    <div>
                        <label>
                            Matière
                        </label>
                        <select name="matiere" required>
                            <option selected="true" disabled value=""> Sélectionnez une matière </option>
                            {% for matiere in enseignant.matieres %}
                                <option value="{{ matiere.id }}"> {{ matiere.libelle }}  </option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="hidden" name="tarif" value=10>
                    <button class="btn">{{ button_label|default('Save') }}</button>
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('demand') }}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            let date = null;
            var calendarEl = document.getElementById('calendar-holder');
            var formBlock = document.getElementsByClassName('demande__block')[0];
            calendarEl.style.display = 'none';
            document.getElementById('demande_date_cours').addEventListener('click', ()=>{
                calendarEl.style.display = 'block';
                formBlock.classList.add('hidden');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    defaultView: 'dayGridMonth',
                    editable: true,
                    eventSources: [
                        {
                            url: "/fc-load-events",
                            method: "POST",
                            extraParams: {
                                filters: JSON.stringify({
                                    "id": {{ enseignant.id }}
                                })
                            },
                            failure: () => {
                            },
                        },
                    ],
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay',
                    },
                    plugins: [ 'interaction', 'dayGrid', 'timeGrid' ], // https://fullcalendar.io/docs/plugin-index
                    timeZone: 'UTC',
                });

                calendar.render();

                let daysP = document.querySelectorAll('.fc-day.fc-past');
                daysP.forEach( day => {
                    day.style.backgroundColor = "silver";
                })

                let daysF = document.querySelectorAll('.fc-content-skeleton td.fc-future');
                daysF.forEach( day => {
                    day.style.backgroundColor = "#EB4D4B";
                    day.style.color = "#ffffff";
                    day.addEventListener('click', () => {
                        // formBlock.classList.remove('hidden');
                        date = new Date(day.getAttribute('data-date'));
                        // calendarEl.style.display = 'none';
                        document.getElementsByClassName('modal__time')[0].classList.remove('hidden');
                        calendarEl.style.display = 'none';
                    })
                })
            });
            document.getElementsByClassName('confirm__time')[0].addEventListener('click', ()=>{
                document.getElementsByClassName('modal__time')[0].classList.add('hidden');
                formBlock.classList.remove('hidden');

                let hour = document.getElementById('time').value.split(':')[0];
                let minute = document.getElementById('time').value.split(':')[1];
                document.getElementById('demande_date_cours').value = date.getFullYear() + "-" + ("0"+(date.getMonth()+1)).slice(-2) + "-" + ("0" + date.getDate()).slice(-2) + "T" + ("0" + hour).slice(-2) + ":" + ("0" + minute).slice(-2);

            });
        });
    </script>
{% endblock %}
