{% extends 'front.html.twig' %}

{% block title %}New Demande All{% endblock %}

{% block body %}
    <div class="demande__page">
        <div class="demande__block">
            {% if enseignant is defined %}
                <div class="demande__header"> {{ enseignant.nom }} {{ enseignant.prenom }} </div>
            {% else %}
                <div class="demande__header">  Nouvelle demande </div>
            {% endif %}


            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div>
                <label>
                    Matière
                </label>
                <select name="matiere" required>
                    <option selected="true" disabled value=""> Sélectionnez une matière </option>
                    {% for matiere in eleve.matieres %}
                    <option value="{{ matiere.id }}"> {{ matiere.libelle }}  </option>
                    {% endfor %}
                </select>
            </div>
            <button class="btn">{{ button_label|default('Save') }}</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('demandall') }}
{% endblock %}
