<nav class="header__block">
    <div class="logo__block">
        <span>olexcool</span><span>.com</span>
    </div>
    <div class="alerts__block">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path("back_default_index") }}"><i class="fas fa-user-shield"></i></a>
        {% endif %}
        <i class="fas fa-comments message--icon"></i>
        <i class="fas fa-bell notification--icon"></i>
    </div>
</nav>