<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve" class="svg--logo">
    <g>
        <path class="st0" d="M129.79,64.71c5.98,0.17,11.36,1.73,16.15,4.71c5.03,3.14,8.96,7.41,11.81,12.82l21.63-11.28
        c-4.76-8.6-11.48-15.39-20.16-20.38c-8.69-4.98-18.67-7.5-29.96-7.55c-6.83-0.03-13.19,0.9-19.1,2.78
        C118.24,50.63,124.84,56.96,129.79,64.71z"/>
        <path class="st0" d="M146.3,130.39c-4.97,3.28-10.61,4.91-16.91,4.88c-6.5-0.03-12.21-1.56-17.11-4.59
        c-4.91-3.03-8.66-7.27-11.26-12.7c-2.6-5.43-3.88-11.61-3.86-18.54c0.02-4.9,0.78-9.47,2.28-13.69c-0.08-0.17-0.16-0.34-0.25-0.5
        c-2.34-4.45-5.48-7.87-9.59-10.43c-3.09-1.93-6.45-3.11-10.17-3.57c-4.44,8.22-6.7,17.51-6.75,27.88
        c-0.05,10.97,2.28,20.84,6.99,29.61c4.71,8.77,11.3,15.65,19.8,20.63c8.49,4.98,18.21,7.5,29.15,7.54
        c11.09,0.05,21-2.29,29.72-7.01c8.73-4.72,15.58-11.43,20.55-20.14l-21.06-12.47C155.12,122.75,151.27,127.11,146.3,130.39z"/>
    </g>
</svg>
