<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 24.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 200 200" style="enable-background:new 0 0 200 200;" xml:space="preserve" class="svg--logo">
    <g>
        <path class="st0" d="M127.97,74.32c-0.52-1.11-1.08-2.2-1.67-3.27c-4.75-8.6-11.47-15.39-20.16-20.37
        c-3.64-2.09-7.52-3.72-11.62-4.94c-0.55-0.16-1.1-0.33-1.66-0.48c-0.58-0.16-1.18-0.3-1.77-0.44c-0.52-0.12-1.05-0.23-1.57-0.34
        c-0.71-0.15-1.43-0.28-2.15-0.4c-0.73-0.12-1.47-0.24-2.21-0.34c-0.4-0.05-0.8-0.11-1.21-0.15c-1.07-0.12-2.14-0.22-3.24-0.29
        c-0.28-0.02-0.57-0.03-0.86-0.05c-1.2-0.07-2.4-0.11-3.63-0.12c-0.01,0-0.02,0-0.03,0c-10.84-0.04-20.53,2.32-29.06,7.08
        c-8.53,4.77-15.23,11.4-20.1,19.91c-4.87,8.51-7.33,18.2-7.38,29.07c-0.04,9.6,1.74,18.35,5.34,26.26
        c0.51,1.13,1.06,2.24,1.65,3.34c4.7,8.77,11.3,15.65,19.79,20.63c8.49,4.98,18.2,7.5,29.14,7.54c7.09,0.03,13.68-0.93,19.8-2.84
        c-7.8-4.77-14.2-11.06-19.05-18.79v0c-6.5-0.03-12.2-1.56-17.11-4.59c-4.9-3.03-8.66-7.27-11.25-12.69
        c-0.49-1.02-0.91-2.07-1.31-3.15c-0.19-0.52-0.38-1.04-0.54-1.57c-1.35-4.22-2.02-8.82-2-13.82c0.03-6.52,1.36-12.44,4-17.76
        c2.64-5.32,6.37-9.49,11.18-12.51c4.81-3.01,10.32-4.51,16.54-4.48c0.05,0,0.11,0.01,0.16,0.01l0,0c6.27,0.05,11.9,1.63,16.89,4.74
        c5.03,3.14,8.96,7.41,11.8,12.82c0.56,1.07,1.05,2.17,1.51,3.28c0.23,0.56,0.44,1.12,0.64,1.68c0,0.01,0.01,0.02,0.01,0.03
        c0.55,1.59,0.99,3.21,1.33,4.86c0.03,0.14,0.06,0.29,0.09,0.43c0.07,0.39,0.13,0.78,0.19,1.17c0.05,0.32,0.1,0.64,0.14,0.96
        c0.04,0.33,0.08,0.66,0.11,0.99c0.04,0.42,0.08,0.85,0.11,1.28c0.02,0.26,0.04,0.51,0.05,0.77c0.03,0.7,0.06,1.41,0.05,2.13
        c0,0,0,0,0,0c-0.02,5.02-0.95,9.8-2.74,14.33c0.15,0.34,0.29,0.68,0.45,1.01c2.09,4.37,5.01,7.67,8.91,10.08
        c3.18,1.97,6.76,3.12,10.84,3.5c4.27-7.84,6.57-16.68,6.93-26.51c0.04-0.74,0.07-1.51,0.07-2.36c0-0.01,0-0.01,0-0.02
        C133.4,90.62,131.6,82.07,127.97,74.32z"/>
    </g>
    <g>
        <path class="st0" d="M129.79,64.71c5.98,0.17,11.36,1.73,16.15,4.71c5.03,3.14,8.96,7.41,11.81,12.82l21.63-11.28
        c-4.76-8.6-11.48-15.39-20.16-20.38c-8.69-4.98-18.67-7.5-29.96-7.55c-6.83-0.03-13.19,0.9-19.1,2.78
        C118.24,50.63,124.84,56.96,129.79,64.71z"/>
        <path class="st0" d="M146.3,130.39c-4.97,3.28-10.61,4.91-16.91,4.88c-6.5-0.03-12.21-1.56-17.11-4.59
        c-4.91-3.03-8.66-7.27-11.26-12.7c-2.6-5.43-3.88-11.61-3.86-18.54c0.02-4.9,0.78-9.47,2.28-13.69c-0.08-0.17-0.16-0.34-0.25-0.5
        c-2.34-4.45-5.48-7.87-9.59-10.43c-3.09-1.93-6.45-3.11-10.17-3.57c-4.44,8.22-6.7,17.51-6.75,27.88
        c-0.05,10.97,2.28,20.84,6.99,29.61c4.71,8.77,11.3,15.65,19.8,20.63c8.49,4.98,18.21,7.5,29.15,7.54
        c11.09,0.05,21-2.29,29.72-7.01c8.73-4.72,15.58-11.43,20.55-20.14l-21.06-12.47C155.12,122.75,151.27,127.11,146.3,130.39z"/>
    </g>
</svg>
