<div class="panel__block">
    <div class="panel--switch">
        <i class="fas fa-chevron-left"></i>
    </div>
    <a class="logo--icon" href="{{ path('default_index') }}">
        {% include "front/components/logo.html.twig" %}
    </a>
    <div class="menu__block">
        <a href="{{ path('default_index') }}">
            <div class="waves-effect menu--item accueil {% if app.request.get('_route') matches '/default_index/' %} active {% endif %}">
                <i class="fas fa-home"></i>
                <span> {{ 'panel.home'|trans }} </span>
            </div>
        </a>
        {% if is_granted('ROLE_ELEVE') %}
            <a href="{{ path('front_enseignants_show') }}">
                <div class="waves-effect menu--item professeurs {% if app.request.get('_route') matches '/front_enseignants/' %} active {% endif %}">
                    <i class="fas fa-users"></i>
                    <span> {{ 'panel.teacher'|trans }} </span>
                </div>
            </a>
        {% endif %}
        {% if is_granted('ROLE_ENSEIGNANT') %}
            <a href="{{ path('front_request_list') }}">
                <div class="waves-effect menu--item request {% if app.request.get('_route') matches '/front_request_list/' %} active {% endif %}">
                    <i class="fas fa-certificate"></i>
                    <span> {{ 'panel.requests'|trans }} </span>
                </div>
            </a>
        {% endif %}
        <a href="{{ path('front_request_index') }}">
            <div class="waves-effect menu--item chat {% if app.request.get('_route') matches '/front_request_index/' or app.request.get('_route') matches '/front_chat_demande/' %} active {% endif %}">
                <i class="fas fa-comments"></i>
                <span> {{ 'panel.chat'|trans }} </span>
            </div>
        </a>
        <a href="{{ path('front_user') }}">
            <div class="waves-effect menu--item profil {% if app.request.get('_route') matches '/front_user/' %} active {% endif %}">
                <i class="fas fa-user"></i>
                <span> {{ 'panel.profile'|trans }} </span>
            </div>
        </a>
        <a href="{{ path('app_logout') }}">
            <div class="waves-effect menu--item exit {% if app.request.get('_route') matches '/front_leave/' %} active {% endif %}">
                <i class="fas fa-sign-out-alt"></i>
                <span> {{ 'panel.disconnect'|trans }} </span>
            </div>
        </a>
    </a>
    <div class="footer">
        <a href="#">{{ 'panel.terms_and_conditions'|trans }}</a>
        <div>
            {{ 'panel.copyright'|trans }}
        </div>
    </div>
    </div>
</div>