{% extends 'front.html.twig' %}

{% block body %}
    <div class="error__page">
        <div class="error__block">
            <div class="title">
                404
            </div>

            <div class="text">
                La page que vous cherchez a afficher n'existe pas.
            </div>

            <div class="buttons">
                <a class="btn btn--1" href="{{ path('front_chat') }}">
                    Revenir à la page d'accueil
                </a>
                <button class="btn btn--2">
                    Page précédente
                </button>
            </div>
        </div>
    </div>
{% endblock %}