{% extends 'back.html.twig' %}

{% block title %}Bienvenue sur mon site{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Bienvenue sur le backoffice</h1>
    </div>
{% endblock %}
