{% extends 'front.html.twig' %}

{% block title %}Paiement {% endblock %}

{% block body %}

    <div class="payment__block">
        <div class="header"> Page de paiement</div>
        <div class="montant">Montant : {{ amount }} €</div>

        <form id="payment-form">
            <div id="card-element"></div>
            <div id="card-errors" role="alert"></div>
            <button class="submit--btn" id="submit">Payer</button>
        </form>

        <form id="checkout" method="post" action="{{ path('front_user_checkout') }}">
            <input type="hidden" name="amount"  value="{{intent.amount}}">
            <input id="check_statut" type="hidden" name="statut">
        </form>
    </div>

    <script>
        var stripe = Stripe('pk_test_SmUXVJ9OipB07zJuyvUsfVTV000mLYZUFs');
        var elements = stripe.elements();

        var clientSecret = "{{ intent.client_secret }}";
        var style = {
            base: {
                color: "#32325d",
            }
        };

        var card = elements.create("card", { style: style });
        card.mount("#card-element");

        card.addEventListener('change', ({error}) => {
            const displayError = document.getElementById('card-errors');
            if(error) {
                displayError.textContent = error.message;
            } else {
                displayError.textContent = "";
            }
        });

        var form = document.getElementById('payment-form');

        var check = document.getElementById("check_statut");
        var formCheck = document.getElementById("checkout");

        form.addEventListener('submit', function(ev) {
            ev.preventDefault();
            stripe.confirmCardPayment(clientSecret, {
                payment_method: {
                    card: card,
                    billing_details: {
                        name: '{{ user.nom }}  {{ user.prenom }}',
                        email: '{{ user.email }}',
                        phone: '{{ user.telephone }}'
                    }
                }
            }).then(function(result) {
                if(result.error) {
                    console.log(result.error.message);
                    alert('Payment Error');
                    check.value = false;
                    document.location.href="/fr/user";
                } else {
                    if (result.paymentIntent.status === 'succeeded') {
                        alert('Payment Success');
                        check.value = true;
                        formCheck.submit();
                    }
                }

            })
        })
    </script>


{#    <div>#}
{#        <input id="card-name" type="text">#}
{#        <div id="card-element"></div>#}
{#        <button id="card-button" data-secret="{{ intent.client_secret }}">#}
{#            Submit Payment#}
{#        </button>#}
{#    </div>#}

{% endblock %}