{% extends 'front.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}

    <div class="user__page">
        <div class="user__edit">
            {{ form_start(form) }}
                <img src="https://cdn.discordapp.com/attachments/556582916227072015/669473798562643978/man-wearing-black-cap-with-eyes-closed-under-cloudy-sky-810775.jpg" alt="profil-picture"/>
                {{ form_widget(form) }}
                <button class="btn"> {{ 'button.confirm'|trans }} </button>
            {{ form_end(form) }}
        </div>
        <div class="payment__list">
            <div class="header">
            Acheter des crédits
            </div>
                <div class="restant"> Crédits restants : </div>
                <div class="credit"> {{ user.credits ? user.credits : 0 }} {% include "front/components/logoCredit.html.twig" %} </div>
                <div class="click"> Cliquez sur un bouton ci-dessous pour achetez de nouveau crédits </div>
            <div class="row">
                <div class="col s6">
                    <a href="{{ path('front_user_paiement', { credits: 50} )}}" class="credit_btn">
                        <div class="payement">
                            <div class="icon">
                                <i class="fas fa-coins"></i>
                            </div>
                            <div class="text">
                                50 Credits
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col s6">
                    <a href="{{ path('front_user_paiement', { credits: 100} )}}" class="credit_btn">
                        <div class="payement">
                            <div class="icon">
                                <i class="fas fa-coins"></i>
                            </div>
                            <div class="text">
                                100 Credits
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col s6">
                    <a href="{{ path('front_user_paiement', { credits: 150} )}}" class="credit_btn" >
                        <div class="payement">
                            <div class="icon">
                                <i class="fas fa-coins"></i>
                            </div>
                            <div class="text">
                                150 Credits
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col s6 ">
                    <a href="{{ path('front_user_paiement', { credits: 200} )}}" class="credit_btn">
                        <div class="payement">
                            <div class="icon">
                                <i class="fas fa-coins"></i>
                            </div>
                            <div class="text">
                                200 Credits
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}