{% extends 'base.html.twig' %}

{% block title %}Password has been reseted{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
{% endblock %}
{% block body %}

    <div class="row">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Réinitialisation de votre mot de passe</span>
                    <p>Bonjour, votre mot de passe a été réinitialisé avec succès.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}